@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display:wght@400;500;600&family=Rubik:wght@400;500&display=swap');

/* font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif;
font-family:'Rubik', sans-serif;  */

:root{
  --ff-primary:'Rubik', sans-serif;
  --ff-secondary:'Playfair Display', serif;
  --ff-mulish:'Mulish', sans-serif;

  --fw-regular:400;
  --fw-medium:500;
  --fw-semi-bold:600;

  --clr-black: #000;
  --clr-white: #fff;
  --clr-gray: #767e86;
  --clr-blue-dark: #172432;
  --clr-orange: #ff7757;
  --clr-orange-light-1: #fff8f1;
  --clr-orange-light-2: #ffe8d4;
  --clr-yellow: #ffc107;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body{
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-blue-dark);
}
.wrapper{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header{

}
.section{
  flex: 1 1 auto;
}

.footer{

}

[class*="__container"]{
  width: min(calc(100%-4rem),1560px);
  margin: 0 auto;
  padding: 8.75rem 0;
}

@media screen and (max-width:1151.98px) {
  [class*="__container"]{
    width: calc(100%-2.5rem);
    padding: 6.25rem 0;
  }
}
@media screen and (max-width:767.98px) {
  [class*="__container"]{
    width: calc(100%-2rem);
    padding: 5rem 0;
  }
}

/* ===== шапка сайту======== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: pink; */
}
.header__containr {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
}
.header__logo img {
  width: 14rem;
  height: 3rem;
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.icon-menu {
  display: none;
}
.menu__body {
}
.menu__list {
  display: flex;
  gap: 2rem;
}
.menu__item.active {
  border-bottom: 3px solid var(--clr-orange);
}
.active {
}
.menu__link {
  color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: var(--fw-regular);
  line-height: 1.20;
}
.menu__item.active .menu__link{
  font-weight: var(--fw-medium);
}
.menu__item{
  transition: 0.4s;
}
.menu__item:hover .menu__link{
  font-weight: var(--fw-medium);
}
.header__buttons {
}
.header__btn--outline {
  background-color: transparent !important;
}
.header__btn--outline:hover {
  background-color: rgba(255, 255, 255, 0.343) !important;
}
.header__btn:hover{
  cursor: pointer;
  filter: brightness(0.5);
}
.header__btn {
  color: var(--clr-orange-light-1);
  background-color: var(--clr-orange);
  font-weight: var(--fw-regular);
  line-height: 1.2;
  font-size: 1.25rem;
  padding: 1.25rem 2rem;
  border-radius: 0.75rem;
  transition: background 0.4s;
  border: none;
}
/* ===секцыя travelin=== */
.section__travellian {
}
.travellian {
  background: url('../img/travellian/background.png') center / cover no-repeat;
  
}
.travellian__container {
  padding-top:16.875rem ghjkl;;
  padding-bottom:16.875rem ;
}
.travellian__contant {
}
.travellian__title {
}
.travellian__text {
}
.travellian__form {
}
.form-travel {
}
.form-travel__group {
}
.form-travel__item {
}
.form-travel__button {
}