@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  height: 100vh;
  width: 100%;
}
body{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(to top, rgb(255 102 109) 50%, white 50%); */
}
.background-color{
  position: fixed;
  top: 50vh;
  width: 100%;
  height:50vh;
  background-color: #ff666d;
}
.wrapper{
  margin: 0% 5% 0% 5%;
  position: absolute;
  width: 90%;
  top: 0;
  z-index: 1;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  align-items: center;

}
.wrapper > *{
  margin: 5% 0;
}
#cards{
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 5%;
}
#cards > .card:not(:last-child){
  margin-bottom: 5%;
}
.card{
  position: relative;
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  border-radius: 20px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px black;
}
.delete-card{
  position:absolute;
  display: flex;
  top:20px;
  right: 20px;
  width: 40px;
  height: 40px;
  /* background-color: red; */
  /* border: 1px solid #000; */
  background-image: url('icons/recycle-bin.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar{
  position: relative;
  z-index: 1;
  width: 13vw;
  height: 13vw;
  display: flex;
  border: 4px solid #ff666d;
  border-radius: 1000px;
  overflow: hidden;
}
 .avatar::after {
  content: "";
  position: absolute;
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 94%;
  border: 6px solid #ffffff;
  border-radius: 1000px;
}
.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#card-info{
  padding: 2% 0;
  position: relative;
  width: 50%;
  height: min-content;
  border: 1px solid #000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.networks{
  width: 40%;
  height:min-content;
  /* display: flex;
  align-items: flex-start; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.networks a img{
  overflow:hidden;
  height:auto;
  width: 40px;
  /* height:auto; */
}
