.li{
    height: 30px;
    list-style: none;
    width: 100%;
    display: flex;
    background-color: white;
}

.li span{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}
.li button{
    height: 100%;
    border: none;
    width: 14%;
    background-color: rgb(69,91,166);
    display: flex;
    justify-content: center;
    align-items: center;
}
.li button svg{
    width: 70%;
    height: 70%;
    color: white;
}
.li button:last-child{
    background-color: rgb(73,31,117);
}

.li_done {
    filter: grayscale(30%);
    background-color: rgb(225 225 225);
    text-decoration: line-through;

}