*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100vh;
  color: white;
}
.title{
  background-color: rgba(255, 255, 255, 0.476);
  width: 30%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  backdrop-filter:blur(15px);
  border-radius:15px 15px 15px 15px ;
  position: relative;
  background-color: rgba(255, 255, 255, 0.262);
}
[type*="text"]{
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3%;
  font-size: 120%;
  background-color: rgba(255, 255, 255, 0.59);

  position: relative;
}
.wrapper{
  width: 100%;
  height: 100%;

  background: url('../img/background-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex; 
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
.form{
  border-radius: 15px 15px  15px 15px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.262);
  width: 30%;
  height: 50%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.7fr 0.5fr 0.6fr;
  padding: 1% 2%;
  gap: 4%;
  backdrop-filter:blur(15px);
}

[class*="__input"] {
  width: 100%;
  height: 100px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr) max-content;
  gap: 4%;
  align-items: center;
}
label{
  font-size: 150%;
}
[type="checkbox"]{
  width: 15px;
  height: 15px;
  background-color: transparent;
}
.check__box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.submit__btn{
  width: 100%;
  height: 100%;
}

.submit__btn button{
  width: 100%;
  height: 100%;
  background-color: rgba(23, 162, 183, 0.944);
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 10px;
}
.forgot-password{
  width: 100%;
  height: 100%;
   
  display: flex;
  align-items: center;
  justify-content: start;
}
.forgot-password a{
  font-size: 120%;
  text-decoration: none;
  color: rgb(2, 54, 63);
  /* text-shadow: 0 0 5px black; */
}

/* ========== якщо ввели не вырны данні */
 
/* .error input{
  background-image: url('../img/xmark-solid.svg');
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 20px;
  border: 2px solid rgb(141, 0, 0);
}  */

.error__text{
  display: none;
  color:rgb(69, 0, 0) ;
} 